<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>接送机 - 闲置电子产品交易</title>
    <meta name="keywords" content="接送机">
    <meta name="description" content="接送机服务">
    <link href="css/travel.css?_=1493566924033" rel="stylesheet">
    <link href="css/component-antd.css?_=1493566924033" rel="stylesheet">
  </head>
  <body>
    <div class="mainContent">
      <div class="box" style="margin:0 auto;padding:20px 100px;">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
          <legend>旅游度假改版常用组件(还在完善中...)</legend>
        </fieldset>
        <div class="layui-collapse">
          <div class="layui-colla-item">
            <div class="layui-colla-title">1、layer简单弹框提示</div>
            <div class="layui-colla-content layui-show">
              <button class="layui-btn layui-btn-normal" id="msgBtn">简单弹框</button>
            </div>
          </div>
        </div>
        <div class="layui-collapse">
          <div class="layui-colla-item">
            <div class="layui-colla-title">2、layer有确定取消按钮的弹框提示</div>
            <div class="layui-colla-content layui-show">
              <button class="layui-btn layui-btn-normal" id="msgOpen">确定取消按钮的弹框</button>
            </div>
          </div>
        </div>
        <div class="layui-collapse" style="display:none;">
          <div class="layui-colla-item">
            <div class="layui-colla-title">3、常用按钮样式</div>
            <div class="layui-colla-content layui-show">
              <button class="layui-btn layui-btn-primary">原始按钮</button>
              <button class="layui-btn">默认按钮</button>
              <button class="layui-btn layui-btn-normal">百搭按钮</button>
              <button class="layui-btn layui-btn-warm">暖色按钮</button>
              <button class="layui-btn layui-btn-danger">警告按钮</button>
              <button class="layui-btn layui-btn-disabled">禁用按钮</button>
            </div>
          </div>
        </div>
        <div class="layui-collapse">
          <div class="layui-colla-item">
            <div class="layui-colla-title">4、区域loading</div>
            <div class="layui-colla-content layui-show">
              <div id="loadingBox" style="height:400px;position:relative;"></div>
              <button class="layui-btn" id="msgloading">loading(点击)</button>
              <button class="layui-btn" id="msgLoadingClose">loading(关闭)</button>
            </div>
          </div>
        </div>
        <div class="layui-collapse">
          <div class="layui-colla-item">
            <div class="layui-colla-title">5、全屏loading</div>
            <div class="layui-colla-content layui-show">
              <button class="layui-btn" id="fullloading">loading(点击)</button>
            </div>
          </div>
        </div>
        <div class="layui-collapse">
          <div class="layui-colla-item">
            <div class="layui-colla-title">6、无数据显示</div>
            <div class="layui-colla-content layui-show">
              <div id="noDataBox"></div>
              <button class="layui-btn" id="showNoData">显示无数据显示</button>
            </div>
          </div>
        </div>
        <div class="layui-collapse">
          <div class="layui-colla-item">
            <div class="layui-colla-title">7、日历控件</div>
            <div class="layui-colla-content layui-show">
              <input class="inputCss" id="inputDate" value="2016-10-18" readOnly>
            </div>
          </div>
        </div>
        <div class="layui-collapse">
          <div class="layui-colla-item">
            <div class="layui-colla-title">8、控件验证</div>
            <div class="layui-colla-content layui-show">
              <div class="msgBox">
                <input class="inputCss" type="text" rule="{&quot;required&quot;:true}" style="border:1px solid gray;">
              </div>
            </div>
          </div>
        </div>
        <div class="layui-collapse">
          <div class="layui-colla-item">
            <div class="layui-colla-title">9、模拟下拉菜单</div>
            <div class="layui-colla-content layui-show">
              <div class="selectModel"><span class="select">2 成人</span>
                <ul class="downList" style="display: none;">
                  <li value="1">1 成人</li>
                  <li value="1">2 成人</li>
                  <li value="1">3 成人</li>
                  <li value="1">4 成人</li>
                </ul>
                <input type="hidden" value="2" name="adtCount">
              </div>
            </div>
          </div>
        </div>
        <div class="layui-collapse">
          <div class="layui-colla-item">
            <div class="layui-colla-title">10、模拟checkBox框</div>
            <div class="layui-colla-content layui-show"><span class="checkBox">我已经阅读并同意</span><br><span class="checkBox active">我已经阅读并同意</span></div>
          </div>
        </div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
          <legend>旅游度假改版通用样式(还在完善中...)</legend>
        </fieldset>
        <div class="layui-collapse">
          <div class="layui-colla-item">
            <div class="layui-colla-title">1、改版页面按钮集合</div>
            <div class="layui-colla-content layui-show"><a class="searchBtn">搜索</a>&nbsp;<a class="smallSearchBtn">搜索</a>&nbsp;<a class="blueSmallBtn">确定</a>&nbsp;<a class="graySmallBtn">取消</a>&nbsp;<a class="yellowSmallBtn">搜索</a>&nbsp;<a class="yellowBtn">立即预定<i>&gt;</i></a>&nbsp;<a class="yellowBtn">确定</a>&nbsp;<a class="backBtn">返回修改</a>&nbsp;<a class="nextBtn">下一步<i class="arrow"></i></a></div>
          </div>
        </div>
        <div class="layui-collapse">
          <div class="layui-colla-item">
            <div class="layui-colla-title">2、阶段步骤样式</div>
            <div class="layui-colla-content layui-show">
              <div class="newStep">
                <div class="step step01 done"><i class="ico"></i><span class="text">选择资源</span></div>
                <div class="step step02 doing"><i class="ico"></i><span class="text">填写订单</span></div>
                <div class="step step03"><i class="ico"></i><span class="text">提交订单</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-collapse">
          <div class="layui-colla-item">
            <div class="layui-colla-title">3、输入框</div>
            <div class="layui-colla-content layui-show">
              <input class="inputCss" type="text" placeholder="城市名">&nbsp;
              <input class="inputCss date" type="text" placeholder="输入日期">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery-1.8.3.min.js?_=1493566924033" type="text/javascript"></script>
    <script src="js/component.min.js?_=1493566924033" type="text/javascript"></script>
  </body>
</html>