<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="飞机票,东航官方网站,东航官网,中国东方航空,中国东方航空公司,东航,旅游度假,自由行,小众游,目的地,动态机酒"/>
    <meta name="description" content="中国东方航空公司官方网站提供飞机票查询,飞机票预订,飞机票网上订票的一站式飞机票查询订购服务。最全国内机票查询,国际机票查询,机票预订100%出票。"/>
    <title>旅游度假</title>

    <link rel="stylesheet" type="text/css" href="oldTravelAsset/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="oldTravelAsset/css/Reservation.min.css"/>
    <!--[if IE 7]> <link rel="stylesheet" type="text/css" media="all" href="oldTravelAsset/css/ie7.min.css" /><![endif]-->
    <script>
        !function () {
            for (var e = "abbr|address|article|aside|audio|canvas|command|datalist|details|dialog|figure|figcaption|footer|header|hgroup|keygen|mark|meter|menu|menuitem|nav|progress|ruby|section|summary|time|video|fieldset|dir".split("|"), t = 0; t < e.length; t++)document.createElement(e[t])
        }()
    </script>
</head>
<body data-page="orderList" class="bodyWhite">
<!--页码存储-->
<input type="hidden" id="pad_num">
<!--头部 开始-->
<div id="c_header">
</div>
<!--头部 结束-->
<!--身体 开始-->
<div class="bodyer">
    <!--内页位置导航 开始-->
    <div class="subNav">
        <b>您所在的位置：</b><a href="javascript:void(0);" class="href_index">首页</a><em>&gt;</em><a href="http://www.ceair.com/myceair">我的东航</a><em>&gt;</em><a href="http://www.ceair.com/order/list.html">我的订单</a><em>&gt;</em><span class="lvtyle_url">旅游度假订单</span>
    </div>
    <!--内页位置导航 结束-->
    <div class="container clearfix">
        <section id="myceair" class="myceair">
        <!--左侧内容 -->
            <figure class="menu">
            <h2><a href="http://www.ceair.com/myceair/">我的东航</a></h2>
            <ul>
                <li id="menuOrder" class="child active">
                    <b>我的订单
                        <mark class="icon arrow-order-down active"></mark>
                    </b>
                    <ol>
                        <li>
                            <a href="http://www.ceair.com/order/list.html?orderType=01">机票订单 </a>
                        </li>
                        <li>
                            <a href="http://hotels.ceair.com/service/orderinterlist" target="_blank">酒店订单</a>
                        </li>
                        <li>
                            <a href="http://vacations.ceair.com/disney/user/orderList.htm">迪士尼订单 </a>
                        </li>
                        <li>
                            <a href="http://www.ceair.com/order/list.html?orderType=04">机+酒订单 </a>
                        </li>
                        <li>
                            <a href="http://eb.ceair.com/Insurance/pc/orderlist.aspx">保险商城订单 </a>
                        </li>
                        <li>
                            <a href="http://www.ceair.com/order/list.html?orderType=05">选座订单 </a>
                        </li>
                        <li>
                            <a href="http://www.ceair.com/order/list.html?orderType=07">行李订单</a>
                        </li>
                        <li class="active">
                            <a href="http://vacations.ceair.com/Order/Order/OrderList">旅游度假订单 </a>
                        </li>
                        <li>
                            <a href="http://eb.ceair.com/Food/orderList.aspx" target="_blank">餐食订单</a>
                        </li>
                        <li>
                            <a href="http://car.ceair.com/CarChannelPC/Router/OrdersList" target="_blank">接送机订单</a>
                        </li>
                        <li>
                            <a href="http://eb.ceair.com/activity/dangdiwanle/index.html" target="_blank">当地玩乐订单</a>
                        </li>
                    </ol>
                </li>
                <li id="menuAppeal"><strong><a href="http://eb.ceair.com/appeal/pc/appealpclist.aspx" target="_blank">我的申诉</a></strong></li>
                <li id="menuCoupons"><strong><a href="http://www.ceair.com/myceair/coupon.html">我的卡劵</a></strong></li>
                <li id="menuFoot"><strong><a href="http://www.ceair.com/myceair/myFootprint.html">我的足迹</a></strong></li>
                <li id="menucomplain"><strong><a href="http://www.ceair.com/myceair/complain.html">我的投诉</a></strong></li>
                <li>
                    <b>万里行会员尊享
                        <mark class="icon arrow-order-down"></mark>
                    </b>
                    <ol>
                        <li><a href="http://www.ceair.com/a/notice.html" target="_blank">东方万里行会员</a></li>
                    </ol>
                </li>
                <hr>
                <li id="menuInfo" class="child">
                    <b>个人中心
                        <mark class="icon arrow-order-down"></mark>
                    </b>
                    <ol>
                        <li><a href="http://www.ceair.com/traveller/optmember/member-info!init.shtml">个人信息</a></li>
                        <li><a href="http://www.ceair.com/myceair/contact_pax.html?favorPax">常用乘机人</a></li>
                        <li><a href="http://www.ceair.com/myceair/favor_contacts.html">常用联系人</a></li>
                        <li><a href="http://www.ceair.com/myceair/consumption.html">消费密码</a></li>
                        <li class="bindMember"><a href="/myceair/bind-member.html">账号绑定</a></li>
                    </ol>
                </li>
            </ul>
        </figure>
        <!--右侧内容-->
            <div class="conright">
            <div class="conTop">
            <!--时间-->
                <div class="contime clearfix">
                    <div class="contime1 cLeft"><span>下单日期</span>
                        <input class="ip1" type="text" value="" id="inputDate1"/>
                        <input class="ip2" type="text" value="" id="inputDate2"/>
                    </div>
                    <div class="contime2 clearfix cLeft" >
                        <span class="cLeft">订单状态</span>
                        <div class="selectModel adult cLeft">
                            <span class="select orderStatus" order="">全部</span>
                            <ul class="downList">
                                <li value="">全部</li>
                            </ul><input type="hidden" value="1" name="orderState">
                        </div>
                    </div>
                    <div class="contime3 cLeft">
                        <input  class="thCenterSide ft14" id="selectID" type="button" value="查询订单">
                    </div>
                </div>
                <!--订单标题-->
                <div class="ordertitle">
                    <span class="orsp1">旅游度假信息</span>
                    <span class="orsp2">订单状态</span>
                    <span class="orsp3">订单操作</span>
                </div>
                <!--订单详细-->
                <div class="ordershow">
                </div>
            </div>
            <div class="pagination" id="page_id"></div>
        </div>
        </section>
    </div>

</div>
<!--身体 结束-->
<!--脚步导航 开始-->
<div id="c_footer">
</div>
<!--脚步导航 结束-->
<script src="oldTravelAsset/js/libs/require.js" data-main = "oldTravelAsset/js/common.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>