<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description"
        content="An Amaze UI Touch template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Amaze UI Touch Starter Kit</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/i/favicon.png">
</head>
<body>
<div id="root">{{{reactHtml}}}</div>
<script src="/js/bundle.js"></script>
</body>
</html>
