extends ../src/template/pageDefault.pug
block vars
    - var config = {title:"首页", body:{cls:""}}
block css
    link(href='css/travel.css',rel='stylesheet')
//- 页面主体内容
block mainContent
    //-首页顶部导航搜索
    .topNav
        include ../src/template/header.pug
              
    //图片轮播
    #imageScroll.imageScroll
      a.next
      a.prev
      ul.imgList
          li(style="background-image: url('img/group_1.jpg');")
            a(href='#',target='_blank',title="aaa")
          li(style="background-image: url('img/group_2.jpg');")
            a(href='#',target='_blank',title="aaa")
          li(style="background-image: url('img/group_3.jpg');")
            a(href='#',target='_blank',title="aaa")
          li(style="background-image: url('img/group_4.jpg');")
            a(href='#',target='_blank',title="aaa")
    //首页侧边导航
    .indexLeftNav
      .ilfnbox
          dl.mainNav
            dd
              a.ilfContent(href="./listshouji")
                span.navIco.Ico1
                span.arrow
                div.bigTitle 手机
            dd
              a.ilfContent(href="./listpingban")
                span.navIco.Ico2
                span.arrow
                div.bigTitle 平板电脑
            dd
              a.ilfContent(href="./listbijiben")
                span.navIco.Ico3
                span.arrow
                div.bigTitle 笔记本
            dd
              .ilfContent
                span.navIco.Ico4
                span.arrow
                div.bigTitle 摄影摄像
            dd
              .ilfContent
                span.navIco.Ico5
                span.arrow
                div.bigTitle 智能数码
            dd
              .ilfContent
                span.navIco.Ico6
                span.arrow
                div.bigTitle 家用电器
          //首页侧边导航弹出层
          .indexLeftNavContent
            - for(var i=0;i<6;i++)
              .ilNavContent.NavBlock.clearfix
                  dl.towNav
                    dt 苹果
                    dd.clearfix
                      a 苹果 iPhone 6s
                      a 苹果 iPhone 6s Plus
                      a 苹果 iPhone 6
                      a 苹果 iPhone 6 Plus
                      a 苹果 iPhone 7
                      a.more 更多&gt;
                  dl.towNav
                    dt 三星
                    dd.clearfix
                      a 三星 GALAXY s7
                      a 三星 GALAXY s7 edge
                      a 三星 GALAXY s6
                      a 三星 GALAXY s6 edge
                      a 三星 note 3
                      a.more 更多&gt;
                  dl.towNav
                    dt 小米
                    dd.clearfix
                      a 小米Mix
                      a 小米手机5
                      a 小米手机4s
                      a 小米手机4c
                      a 小米Note
                      a.more 更多&gt;
                  dl.towNav
                    dt 华为
                    dd.clearfix
                      a 华为 Mate8
                      a 华为 Mate7
                      a 华为 MateS
                      a 华为 荣耀 7
                      a 华为 荣耀 7i
                      a.more 更多&gt;
                  //- dl.towNav
                  //-   dt 魅族
                  //-   dd.clearfix
                  //-     a 魅族 Mx6
                  //-     a 魅族 Mx5e
                  //-     a 魅族 Mx5
                  //-     a 魅族 Mx4 pro
                  //-     a 魅族 Mx4
                  //-     a.more 更多&gt;
                  .towNav.moreBrand 更多品牌&gt; 
    //旅游特惠卖
    .firstBanner
       h1.head.mt20 热门商品
       .fbContent
         span.next
         span.prev
         #fbImgScroll.fbImgScroll
           ul.clearfix
             li
                 a(href='#',target='_blank')
                     span.title 小米
                     img(src='images/imgDefault.png',data-src='img/timg.jpg')
             li
                 a(href='#',target='_blank',title="魅族")
                     span.title 魅族
                     img(src='images/imgDefault.png',data-src='img/timg_1.jpg')
             li
                 a(href='#',target='_blank')
                     span.title 外星人
                     img(src='images/imgDefault.png',data-src='img/timg_2.jpg')
             li
                 a(href='#',target='_blank')
                     span.title mac
                     img(src='images/imgDefault.png',data-src='img/timg_3.jpg')
             li
                 a(href='#',target='_blank') 
                    span.title 小米
                    img(src='images/imgDefault.png',data-src='img/timg.jpg')
             li
                 a(href='#',target='_blank')
                    span.title 魅族
                    img(src='images/imgDefault.png',data-src='img/timg_1.jpg')
    //底部广告
    .bottomBanner
        a(href='#')
            img(src='images/imgDefault.png',data-src='img/group_1.jpg')
//-页面使用到的js
block js
  script(src='libs/jquery-1.8.3.min.js',type='text/javascript')
  script(src='js/index.min.js',type='text/javascript')