extends ../src/template/pageDefault.pug
block vars
	- var config = {title:"发布信息", body:{cls:""},keywords:'发布信息',description:'发布信息'}
block css
	link(href='css/publish.css',rel='stylesheet')
//-页面使用到的js
block js
	script(src='libs/jquery-1.8.3.min.js',type='text/javascript')
	script(src='js/publish.min.js',type='text/javascript')
//- 页面主体内容
block mainContent
	include ../src/template/header.pug
	form.publishWrap(method="post",action="/publish",enctype='multipart/form-data')
		label.group.required
			span 类别
		.selectModel
			span.select 手机
			ul.downList(style='display: none;')
				li(value='0') 手机
				li(value='1') 平板电脑
				li(value='2') 笔记本
				li(value='3') 摄影摄像
				li(value='4') 智能数码
				li(value='5') 家用电器
			input(type='hidden',value='0',name='info[classify]')
		.brand.inputWrap
			label.required 
				span 品牌
				input(placeholder="请填写商品品牌(苹果、佳能...)",name='info[brand]')
		.title.inputWrap
			label.required 
				span 标题
				input(placeholder="请填写你的信息标题",name='info[title]')
		.description.inputWrap
			label.required 
				span 描述
				textarea(placeholder="请描述一下你的闲置",name='info[description]')
		.price.inputWrap
			label.required 
				span 价格
				input(placeholder="请填写正整数",name='info[price]')
		.selectPic
			label.notrequired 
				span 图片
				//- input.textfield#textfield(type="text" placeholder="请选择电脑图片上传")
				.wrap
					input.btn(type='button', value='浏览...')
					input#fileField.file(type='file', name='info[images]', size='28',multiple=true)
				#imgGroup
		//- <div id="list"><img src=""></div> 
		button.yellowBtn(type="submit") 发布
		if err
			#wrong.wrong(data-err=err)
		if prompt
			#prompt(data-info=prompt)
